<% if user_signed_in? ==false %>
<div class="jumbotron">
  <h1>Your favourite movies reviewed !</h1>
  <p>Watch our reviews and spend your money wisely on movies or you just might save a lot!</p>

   <p><%= link_to 'Sign Up to write a review!', new_user_registration_path,class:"btn btn-primary btn-lg" %></p>
<% end %>
</div>

<div class="=row">
  <% @movies.each do |movie| %>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
        <%= link_to (image_tag movie.image.url(:medium), class:'image'), movie %>
    </div>
  </div>
  <% end %>
</div>